{
    "swagger": "2.0",
    "host": "bdcloud.luxgreen.net",
    "basePath": "/api/index.php",
    "produces": [
        "application/json",
        "application/xml"
    ],
    "consumes": [
        "application/json",
        "application/xml",
        "multipart/form-data"
    ],
    "paths": {
        "/accountancy/exportdata": {
            "get": {
                "operationId": "accountancyExportData",
                "tags": [
                    "accountancy"
                ],
                "parameters": [
                    {
                        "name": "period",
                        "type": "string",
                        "description": "Period : 'lastmonth', 'currentmonth', 'last3months', 'last6months', 'currentyear', 'lastyear', 'fiscalyear', 'lastfiscalyear', 'actualandlastfiscalyear' or 'custom' (see above)",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "date_min",
                        "type": "string",
                        "description": "[=''] Start date of period if 'custom' is set in period parameter Date format is 'YYYY-MM-DD'",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "date_max",
                        "type": "string",
                        "description": "[=''] End date of period if 'custom' is set in period parameter Date format is 'YYYY-MM-DD'",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "format",
                        "type": "string",
                        "description": "[=''] by default uses '1' for 'Configurable (CSV)' for format number or '1000' for FEC or '1010' for FEC2 (see AccountancyExport class)",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "lettering",
                        "type": "integer",
                        "format": "int64",
                        "description": "[=0] by default don't export or 1 to export lettering data (columns 'letterring_code' and 'date_lettering' returns empty or not)",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "alreadyexport",
                        "type": "integer",
                        "format": "int64",
                        "description": "[=0] by default export data only if it's not yet exported or 1 already exported (always export data even if 'date_export\" is set)",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "notnotifiedasexport",
                        "type": "integer",
                        "format": "int64",
                        "description": "[=0] by default notified as exported or 1 not notified as exported (when the export is done, notified or not the column 'date_export')",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Accountancy export data 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Insufficient rights"
                    },
                    "404": {
                        "description": "Accountancy export format not found"
                    },
                    "500": {
                        "description": "Error on accountancy export"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/agendaevents/{id}": {
            "get": {
                "operationId": "retrieveAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of Agenda Events",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get properties of a Agenda Events object 🔐",
                "description": "Return an array with Agenda Events informations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of Agenda Event to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateAgendaeventsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateAgendaeventsModel"
                        }
                    }
                ],
                "summary": "Update Agenda Event general fields 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Agenda Event ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete Agenda Event 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/agendaevents": {
            "get": {
                "operationId": "listAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.id",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "user_ids",
                        "type": "string",
                        "description": "User ids filter field (owners of event). Example: '1' or '1,2,3'",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.label:like:'%dol%') and (t.datec:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to theses properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List Agenda Events 🔐",
                "description": "Get a list of Agenda Events",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createAgendaevents",
                "tags": [
                    "agendaevents"
                ],
                "parameters": [
                    {
                        "name": "createAgendaeventsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createAgendaeventsModel"
                        }
                    }
                ],
                "summary": "Create Agenda Event object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts": {
            "get": {
                "operationId": "listBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "category",
                        "type": "integer",
                        "format": "int64",
                        "description": "Use this param to filter list by category",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.import_key:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to theses properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get the list of accounts. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "createBankaccountsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createBankaccountsModel"
                        }
                    }
                ],
                "summary": "Create account object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}": {
            "get": {
                "operationId": "retrieveBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get account by ID. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateBankaccountsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateBankaccountsModel"
                        }
                    }
                ],
                "summary": "Update account 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeBankaccounts",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete account 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/transfer": {
            "post": {
                "operationId": "bankaccountsTransfer",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "bankaccountsTransferModel",
                        "description": "bankaccount_from_id  \nbankaccount_to_id  \ndate  \ndescription  \namount  \namount_to  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bankaccountsTransferModel"
                        }
                    }
                ],
                "summary": "Create an internal wire transfer between two bank accounts 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized: User does not have permission to configure bank accounts"
                    },
                    "404": {
                        "description": "Not Found: Either the source or the destination bankaccount for the provided id does not exist"
                    },
                    "500": {
                        "description": "Internal Server Error: Error(s) returned by the RDBMS"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}/lines": {
            "get": {
                "operationId": "bankaccountsRetrieveLines",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.import_key:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get the list of lines of the account. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "bankaccountsAddLine",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "bankaccountsAddLineModel",
                        "description": "**date** (required)  \n**type** (required)  \n**label** (required)  \n**amount** (required)  \ncategory  \ncheque_number  \ncheque_writer  \ncheque_bank  \naccountancycode  \ndatev  \nnum_releve  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bankaccountsAddLineModel"
                        }
                    }
                ],
                "summary": "Add a line to an account 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/bankaccounts/{id}/lines/{line_id}/links": {
            "post": {
                "operationId": "bankaccountsAddLink",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "line_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account line",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "bankaccountsAddLinkModel",
                        "description": "**url_id** (required)  \n**url** (required)  \n**label** (required)  \n**type** (required)  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/bankaccountsAddLinkModel"
                        }
                    }
                ],
                "summary": "Add a link to an account line 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "get": {
                "operationId": "bankaccountsRetrieveLinks",
                "tags": [
                    "bankaccounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "line_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of account line",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get the list of links for a line of the account. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}": {
            "get": {
                "operationId": "retrieveCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "include_childs",
                        "type": "boolean",
                        "description": "Include child categories list (true or false)",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of a category object 🔐",
                "description": "Return an array with category informations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of category to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateCategoriesModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateCategoriesModel"
                        }
                    }
                ],
                "summary": "Update category 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Category ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete category 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories": {
            "get": {
                "operationId": "listCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact')",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to theses properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List categories 🔐",
                "description": "Get a list of categories",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createCategories",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "createCategoriesModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createCategoriesModel"
                        }
                    }
                ],
                "summary": "Create category object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/object/{type}/{id}": {
            "get": {
                "operationId": "categoriesRetrieveListForObject",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Object ID",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'project')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "s.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List categories of an object 🔐",
                "description": "Get the list of categories linked to an object",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}/objects/{type}/{object_id}": {
            "post": {
                "operationId": "categoriesLinkObjectById",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Link an object to a category by id 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "categoriesUnlinkObjectById",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of the object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Unlink an object from a category by id 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}/objects/{type}/ref/{object_ref}": {
            "post": {
                "operationId": "categoriesLinkObjectByRef",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_ref",
                        "type": "string",
                        "description": "Reference of object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Link an object to a category by ref 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "categoriesUnlinkObjectByRef",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact')",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "object_ref",
                        "type": "string",
                        "description": "Reference of the object",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Unlink an object from a category by ref 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/categories/{id}/objects": {
            "get": {
                "operationId": "categoriesRetrieveObjects",
                "tags": [
                    "categories"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of category",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "string",
                        "description": "Type of category ('member', 'customer', 'supplier', 'product', 'contact', 'project')",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "onlyids",
                        "type": "integer",
                        "format": "int64",
                        "description": "Return only ids of objects (consume less memory)",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get the list of objects in a category. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}": {
            "get": {
                "operationId": "retrieveContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "includecount",
                        "type": "integer",
                        "format": "int64",
                        "description": "Count and return also number of elements the contact is used as a link for",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includeroles",
                        "type": "integer",
                        "format": "int64",
                        "description": "Includes roles of the contact",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of a contact object 🔐",
                "description": "Return an array with contact informations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateContactsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateContactsModel"
                        }
                    }
                ],
                "summary": "Update contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Contact ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/email/{email}": {
            "get": {
                "operationId": "contactsRetrieveByEmail",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "type": "string",
                        "description": "Email of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "includecount",
                        "type": "integer",
                        "format": "int64",
                        "description": "Count and return also number of elements the contact is used as a link for",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includeroles",
                        "type": "integer",
                        "format": "int64",
                        "description": "Includes roles of the contact",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of a contact object by Email 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Insufficient rights"
                    },
                    "404": {
                        "description": "User or group not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts": {
            "get": {
                "operationId": "listContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "thirdparty_ids",
                        "type": "string",
                        "description": "Thirdparty ids to filter contacts of (example '1' or '1,2,3')",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "category",
                        "type": "integer",
                        "format": "int64",
                        "description": "Use this param to filter list by category",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includecount",
                        "type": "integer",
                        "format": "int64",
                        "description": "Count and return also number of elements the contact is used as a link for",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "includeroles",
                        "type": "integer",
                        "format": "int64",
                        "description": "Includes roles of the contact",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to theses properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List contacts 🔐",
                "description": "Get a list of contacts",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createContacts",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "createContactsModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createContactsModel"
                        }
                    }
                ],
                "summary": "Create contact object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}/createUser": {
            "post": {
                "operationId": "contactsCreateUser",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "contactsCreateUserModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/contactsCreateUserModel"
                        }
                    }
                ],
                "summary": "Create an user account object from contact (external user) 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}/categories": {
            "get": {
                "operationId": "contactsRetrieveCategories",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "s.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get categories for a contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/contacts/{id}/categories/{category_id}": {
            "put": {
                "operationId": "contactsAddCategory",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "category_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of category",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Add a category to a contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Insufficient rights"
                    },
                    "404": {
                        "description": "Category or contact not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "contactsRemoveCategory",
                "tags": [
                    "contacts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of contact",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "category_id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of category",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Remove the link between a category and a contact 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "404 Category or contact not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents/download": {
            "get": {
                "operationId": "listDocuments",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "modulepart",
                        "type": "string",
                        "description": "Name of module or area concerned by file download ('facture', ...)",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "original_file",
                        "type": "string",
                        "description": "Relative path with filename, relative to modulepart (for example: IN201701-999/IN201701-999.pdf)",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Download a document. 🔐",
                "description": " Note that, this API is similar to using the wrapper link \"documents.php\" to download a file (used for internal HTML links of documents into application), but with no need to have a session cookie (the token is used instead).",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents/builddoc": {
            "put": {
                "operationId": "documentsBuilddoc",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "documentsBuilddocModel",
                        "description": "**modulepart** (required)  \noriginal_file  \ndoctemplate  \nlangcode  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/documentsBuilddocModel"
                        }
                    }
                ],
                "summary": "Build a document. 🔐",
                "description": " Test sample 1: { \"modulepart\": \"invoice\", \"original_file\": \"FA1701-001/FA1701-001.pdf\", \"doctemplate\": \"crabe\", \"langcode\": \"fr_FR\" }. Supported modules: invoice, order, proposal, contract, shipment",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "System error"
                    },
                    "501": {
                        "description": "Not Implemented"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents": {
            "get": {
                "operationId": "documentsRetrieveDocumentsListByElement",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "modulepart",
                        "type": "string",
                        "description": "Name of module or area concerned ('thirdparty', 'member', 'proposal', 'order', 'invoice', 'supplier_invoice', 'shipment', 'project', ...)",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of element",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "ref",
                        "type": "string",
                        "description": "Ref of element",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortfield",
                        "type": "string",
                        "description": "Sort criteria ('','fullname','relativename','name','date','size')",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "description": "Sort order ('asc' or 'desc')",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Return the list of documents of a dedicated element (from its ID or Ref) 🔐",
                "description": "Supported modules: thirdparty, user, member, proposal, order, supplier_order, shipment, invoice, supplier_invoice, product, event, expensereport, knowledgemanagement, category, contract",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "System error"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeDocuments",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "modulepart",
                        "type": "string",
                        "description": "Name of module or area concerned by file download ('product', ...)",
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "original_file",
                        "type": "string",
                        "description": "Relative path with filename, relative to modulepart (for example: PRODUCT-REF-999/IMAGE-999.jpg)",
                        "in": "query",
                        "required": true
                    }
                ],
                "summary": "Delete a document. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/documents/upload": {
            "post": {
                "operationId": "createDocuments",
                "tags": [
                    "documents"
                ],
                "parameters": [
                    {
                        "name": "createDocumentsModel",
                        "description": "**filename** (required)  \n**modulepart** (required)  \nref  \nsubdir  \nfilecontent  \nfileencoding  \noverwriteifexists  \ncreatedirifnotexists  \n",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/createDocumentsModel"
                        }
                    }
                ],
                "summary": "Upload a document. 🔐",
                "description": " Test sample for invoice: { \"filename\": \"mynewfile.txt\", \"modulepart\": \"invoice\", \"ref\": \"FA1701-001\", \"subdir\": \"\", \"filecontent\": \"content text\", \"fileencoding\": \"\", \"overwriteifexists\": \"0\" }. Test sample for supplier invoice: { \"filename\": \"mynewfile.txt\", \"modulepart\": \"supplier_invoice\", \"ref\": \"FA1701-001\", \"subdir\": \"\", \"filecontent\": \"content text\", \"fileencoding\": \"\", \"overwriteifexists\": \"0\" }. Test sample for medias file: { \"filename\": \"mynewfile.txt\", \"modulepart\": \"medias\", \"ref\": \"\", \"subdir\": \"image/mywebsite\", \"filecontent\": \"Y29udGVudCB0ZXh0Cg==\", \"fileencoding\": \"base64\", \"overwriteifexists\": \"0\" }. Supported modules: invoice, order, supplier_order, task/project_task, product/service, expensereport, fichinter, member, propale, agenda, contact",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "System error"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/invoices/{id}": {
            "get": {
                "operationId": "retrieveInvoices",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "ID of invoice",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "contact_list",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 1,
                        "description": "0:Return array contains all properties, 1:Return array contains just id, -1: Do not return contacts/adddesses",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of a invoice object 🔐",
                "description": "Return an array with invoice informations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "put": {
                "operationId": "updateInvoices",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of invoice to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "updateInvoicesModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/updateInvoicesModel"
                        }
                    }
                ],
                "summary": "Update invoice 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "string"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
                "operationId": "removeInvoices",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Invoice ID",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Delete invoice 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/invoices/ref/{ref}": {
            "get": {
                "operationId": "invoicesRetrieveByRef",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "ref",
                        "type": "string",
                        "description": "Ref of object",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "contact_list",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 1,
                        "description": "0: Returned array of contacts/addresses contains all properties, 1: Return array contains just id, -1: Do not return contacts/adddesses",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of an invoice object by ref 🔐",
                "description": "Return an array with invoice informations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/invoices/ref_ext/{ref_ext}": {
            "get": {
                "operationId": "invoicesRetrieveByRefExt",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "ref_ext",
                        "type": "string",
                        "description": "External reference of object",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "contact_list",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 1,
                        "description": "0: Returned array of contacts/addresses contains all properties, 1: Return array contains just id, -1: Do not return contacts/adddesses",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "Get properties of an invoice object by ref_ext 🔐",
                "description": "Return an array with invoice informations",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "500": {
                        "description": "RestException"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/invoices": {
            "get": {
                "operationId": "listInvoices",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "sortfield",
                        "type": "string",
                        "defaultValue": "t.rowid",
                        "description": "Sort field",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sortorder",
                        "type": "string",
                        "defaultValue": "ASC",
                        "description": "Sort order",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "limit",
                        "type": "integer",
                        "format": "int64",
                        "defaultValue": 100,
                        "description": "Limit for list",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page",
                        "type": "integer",
                        "format": "int64",
                        "description": "Page number",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "thirdparty_ids",
                        "type": "string",
                        "description": "Thirdparty ids to filter orders of (example '1' or '1,2,3')",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "status",
                        "type": "string",
                        "description": "Filter by invoice status : draft | unpaid | paid | cancelled",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "sqlfilters",
                        "type": "string",
                        "description": "Other criteria to filter answers separated by a comma. Syntax example \"(t.ref:like:'SO-%') and (t.date_creation:<:'20160101')\"",
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "properties",
                        "type": "string",
                        "description": "Restrict the data returned to theses properties. Ignored if empty. Comma separated list of properties names",
                        "in": "query",
                        "required": false
                    }
                ],
                "summary": "List invoices 🔐",
                "description": "Get a list of invoices",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "503": {
                        "description": "Error"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "createInvoices",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "createInvoicesModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/createInvoicesModel"
                        }
                    }
                ],
                "summary": "Create invoice object 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/invoices/createfromorder/{orderid}": {
            "post": {
                "operationId": "invoicesCreateInvoiceFromOrder",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "orderid",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of the order",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Create an invoice using an existing order. 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "405": {
                        "description": "Method Not Allowed"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/invoices/{id}/lines": {
            "get": {
                "operationId": "invoicesRetrieveLines",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of invoice",
                        "in": "path",
                        "required": true
                    }
                ],
                "summary": "Get lines of an invoice 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "post": {
                "operationId": "invoicesCreateLine",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of invoice",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "invoicesCreateLineModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/invoicesCreateLineModel"
                        }
                    }
                ],
                "summary": "Add a line to a given invoice 🔐",
                "description": "Exemple of POST query : { \"desc\": \"Desc\", \"subprice\": \"1.00000000\", \"qty\": \"1\", \"tva_tx\": \"20.000\", \"localtax1_tx\": \"0.000\", \"localtax2_tx\": \"0.000\", \"fk_product\": \"1\", \"remise_percent\": \"0\", \"date_start\": \"\", \"date_end\": \"\", \"fk_code_ventilation\": 0, \"info_bits\": \"0\", \"fk_remise_except\": null, \"product_type\": \"1\", \"rang\": \"-1\", \"special_code\": \"0\", \"fk_parent_line\": null, \"fk_fournprice\": null, \"pa_ht\": \"0.00000000\", \"label\": \"\", \"array_options\": [], \"situation_percent\": \"100\", \"fk_prev_id\": null, \"fk_unit\": null }",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "304": {
                        "description": "Not Modified"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            }
        },
        "/invoices/{id}/lines/{lineid}": {
            "put": {
                "operationId": "invoicesUpdateLine",
                "tags": [
                    "invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of invoice to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "lineid",
                        "type": "integer",
                        "format": "int64",
                        "description": "Id of line to update",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "invoicesUpdateLineModel",
                        "description": "request_data  \n",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/invoicesUpdateLineModel"
                        }
                    }
                ],
                "summary": "Update a line to a given invoice 🔐",
                "description": "",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/Obj"
                        }
                    },
                    "304": {
                        "description": "Not Modified"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Invoice not found"
                    }
                },
                "security": [
                    {
                        "api_key": []
                    }
                ]
            },
            "delete": {
[...]
